frontend http_front
    bind *:80
    mode http

{% for backend in backends %}
    use_backend {{ backend.namespace }}-{{ backend.name }}-{{ backend.protocol }} if { path /{{ backend.namespace }}/{{ backend.name }}/{{ backend.protocol }} } || { path_beg /{{ backend.namespace }}/{{ backend.name }}/{{ backend.protocol }}/ }
{% endfor %}

defaults
    mode http
    timeout connect {{ timeout_connect }}
    timeout client {{ timeout_client }}
    timeout server {{ timeout_server }}

{% for backend in backends %}
backend {{ backend.namespace }}-{{ backend.name }}-{{ backend.protocol }}
    mode http
    http-request replace-path /{{ backend.namespace }}/{{ backend.name }}/{{ backend.protocol }}(/)?(.*) /\\2
    server host forwarder:{{ backend.port }} check {{ backend.proto_h2 }}
{% endfor %}
